@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
html {
  background-color: ACFCD9;
}
header{
  text-align: center;
  font-size: 20 px;
  font-family: "Arial";
}
body {
  text-align: center;
  font-family: "DM Sans";
}
