@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Noto+Sans&display=swap');

header{
  text-align: center;
  font-size: 50px;
  background-color: #75a5a9;
  font-family: "Kenia"; /* Using the font that was imported at the top of css file */
}
body {
  background-color: #c1dcda;
  text-align: center;
  font-family: "DM Sans"; /* Using the font that was imported at the top of css file */
}
.round-image {
    border-radius: 70%;
    width: 300px;
    margin: 30px; /*Creating some space between the top of the picture and the bottom of the header*/
    ;
}
ul, ol{
  display: inline-block; /* Both assignments here make lists appear in a more natural way while the text is centered */
  text-align: left;
}
hr {
  height: 4px;
  background-color: #044337;
}
nav {
  display: inline; /* These make the nav links appear side by side rather than stacked on top of each other and creates some space between them */
  padding-right: 50px;
}

a:link    { color: #006cfa;  }
a:visited { color: purple;   }
a:hover   { color: green; }
a:active  { color: darkgreen;  }
